openapi: 3.1.0
info:
  title: Linq Partner API
  version: 1.0.0
  description: |
    The Linq Partner API enables you to send and receive iMessages programmatically at scale. Build powerful messaging experiences, automate conversations, and integrate iMessage infrastructure directly into your applications.

    Messages are sent through Apple's iMessage protocol using real devices, ensuring full compatibility with all iMessage features including read receipts, typing indicators, reactions, and rich media attachments.

    ## Getting Started

    All API requests require authentication via the `Authorization: Bearer` header. Your bearer token determines which phone numbers you can send from and which data you can access.

    ```bash
    curl https://api.linqapp.com/api/partner/v3/chats \
      -H "Authorization: Bearer your_token_here"
    ```

    ## Key Concepts

    - **Chats**: Conversation threads with one or more participants
    - **Messages**: Individual messages within a chat, supporting text, attachments, effects, and reactions
    - **Participants**: Phone numbers or email addresses involved in a conversation
    - **Attachments**: Files (images, videos, documents, audio) sent with messages
    - **Webhooks**: Real-time notifications for incoming messages, reactions, and events

    ## Trace Context (OpenTelemetry)

    The Linq API supports [W3C Trace Context](https://www.w3.org/TR/trace-context/) for distributed tracing. Every API response includes an `X-Trace-ID` response header that can be used for debugging and support requests.
    Error responses and webhook payloads also include `trace_id` in the response body for convenience.

    Linq generates a new trace context for each incoming request. Any `traceparent` or `tracestate` headers you provide will be replaced with a server-generated trace ID, per the W3C specification's security recommendations for public APIs acting as trust boundaries.

    ## Example Apps

    These open-source example apps show what you can build with the Linq Partner API. Each repo is ready to clone, configure with your API keys, and run.

    ### Claude
    Text with Claude directly through iMessage. No need to install the Claude app.

    [📦 GitHub Repo](https://github.com/linq-team/ai-agent-example)

    ### Resy
    A Resy reservation agent accessible via iMessage. Built on Linq API and Claude.

    [📦 GitHub Repo](https://github.com/linq-team/linq-resy-agent)

    ### Kalshi
    A prediction market trading agent for Kalshi, accessible via iMessage. Built on Linq API and Claude.

    [📦 GitHub Repo](https://github.com/linq-team/kalshi-agent)

    ### Granola
    A meeting notes agent powered by Claude that connects to your Granola account. Search notes via iMessage.

    [📦 GitHub Repo](https://github.com/linq-team/granola-agent)

    ### Claude Code
    Build and deploy iMessage integrations using Claude Code with the Linq CLI. Ship conversational agents in minutes.

    [📦 GitHub Repo](https://github.com/linq-team/claude-code-imessage-channel)
  contact:
    name: Linq API Support
    email: support@linq.com
servers:
  - url: https://api.linqapp.com/api/partner
    description: Production server
security:
  - BearerAuth: []
tags:
  - name: Agentcard
    x-page-title: Agentcard
    x-page-icon: credit-card
    description: |
      Let an agent pay on a customer's behalf with a single-use virtual card.
      Connect a customer once, then create a payment — a virtual card is minted
      scoped to that purchase and the card details are handed back for checkout.
  - name: Payments
    x-page-title: Payments
    x-page-icon: credit-card
    description: |
      Request a payment from a recipient over iMessage. You create a payment
      request, send its `checkout_url` to the recipient, and they pay with Apple
      Pay or card. Funds settle **directly to your own Stripe account** — Linq
      never holds the money.

      ## How it works

      1. **Create** a payment request with an amount and currency. You get back a
         `checkout_url` and a `status` of `requested`.
      2. **Send** the `checkout_url` to the recipient as a `link` message part so
         it arrives as a tappable card (see *Sending the link* below).
      3. The recipient **pays** on the hosted checkout (Apple Pay App Clip on a
         supported iPhone, web checkout everywhere else).
      4. You receive a **`payment.succeeded`** webhook and the request's `status`
         becomes `succeeded`. Requests you don't collect eventually `expire`.

      ## Connected accounts (Stripe Standard, direct charges)

      Payments run on **Stripe Connect Standard accounts** using **direct
      charges**: the charge is created on *your* connected account and **you are
      the merchant of record**. That means the money, the payout schedule, the
      customer relationship, and the compliance surface are all yours — Linq
      orchestrates the request and the checkout but is never in the funds flow.

      **Refunds, disputes, and chargebacks are handled by you, in your own Stripe
      Dashboard.** Because charges settle directly to your account, Linq has no
      custody of the funds and cannot issue refunds or contest disputes on your
      behalf — and there is no refund/dispute endpoint in this API by design. Use
      the Stripe Dashboard (or the Stripe API on your own account) for the money
      lifecycle after a payment succeeds.

      ## Getting set up

      Open **Agent Pay** in your Linq dashboard
      (`https://zero.linqapp.com/organization/payments`), click **Connect Stripe**,
      and complete Stripe's onboarding (business details + a bank account). When
      your account reaches `charges_enabled`, request creation unlocks; until you
      connect Stripe, `POST /v3/payment_requests` returns `403`. You can keep
      collecting even while Stripe finishes background verification.

      ## Subscriptions

      Set `mode: subscription` on `POST /v3/payment_requests` to start an
      **auto-renewing subscription** instead of a one-time charge. Instead of an
      amount, you pass a `price_id` — an active **recurring Price** on your
      connected Stripe account (create one in your Stripe Dashboard under
      Product catalog; if you sell through Stripe Payment Links today, reuse the
      price your link is built from). The recipient pays the first invoice at
      the same checkout, and their payment method is saved to the subscription
      for automatic renewals.

      The division of labor is deliberate: **Linq handles the first payment,
      your Stripe account handles the rest.** The request reaches `succeeded`
      when the first invoice is paid; from then on the subscription lives
      entirely on your connected account. The response's `stripe` object gives
      you the join keys — `customer_id` and `subscription_id` — so renewals,
      plan changes, dunning, and cancellation are managed with your own Stripe
      Dashboard/API and your own Stripe webhooks. Your `metadata` is stamped on
      the Customer and Subscription, so correlating in either direction is
      trivial. There are no renewal webhooks from Linq by design.

      ### Free trials

      Add `trial_period_days` (or a fixed `trial_end` timestamp) to start the
      subscription with a free trial. The checkout still collects the
      recipient's payment method — the pay sheet shows "$0 due today" with the
      first charge date — and saves it to the subscription; Stripe bills it
      automatically when the trial ends. The request reaches `succeeded` when
      the card is collected, and the response carries `trial_end`. If the trial
      would end without a payment method on file, the subscription cancels
      rather than generating unpayable invoices. Trial lifecycle after checkout
      (extending, ending early) is managed in your own Stripe account via
      `stripe.subscription_id`.

      A subscription request you cancel (or that expires unpaid) cancels the
      incomplete Stripe subscription — nothing lingers on your account.

      ## Pre-created customers

      By default each request stands alone: payment mode attaches no Customer,
      and subscription mode creates a fresh one. If you already manage
      Customers on your connected account, pass their id as `customer_id`
      (`cus_...`) on create — in payment mode the charge lands on that
      customer's payment history, and in subscription mode the subscription is
      created on them instead of on a new Customer. The id must reference an
      existing, non-deleted customer on your connected account or the request
      fails with `400`. We never modify a customer you pass — no metadata is
      stamped on it.

      ## Sending the link

      Deliver the `checkout_url` as a **`link` message part** via
      `POST /v3/chats/{chatId}/messages` — it renders as a rich card with your
      branding (title, amount, image) instead of a bare URL, which converts far
      better. A `link` part must be the only part in the message. See
      [Rich Link Previews](/guides/messaging/sending-messages).

      On a supported iPhone the link opens an **Apple Pay App Clip** — a native,
      no-install checkout sheet. Everywhere else (Android, desktop, iPhones
      without the App Clip yet) the same URL opens the web checkout, so the link
      always works. The App Clip experience for your payment links is registered
      automatically by Linq and refreshed whenever you update your payments
      branding; a newly registered experience can take up to ~24 hours to
      activate on Apple's side, during which links open the web checkout.

      ## Webhooks

      Subscribe to payment lifecycle events to reconcile server-side rather than
      polling: `payment.succeeded`, `payment.canceled`, and `payment.expired`.
      Each event carries the payment request id, amount, currency, and your
      `metadata`. See [Webhooks](/guides/webhooks).
  - name: Chats
    x-page-title: Chats
    x-page-icon: comments
    description: |
      A Chat is a conversation thread with one or more participants.

      To begin a chat, you must create a Chat with at least one recipient handle.
      Including multiple handles creates a group chat.

      When creating a chat, the `from` field specifies which of your
      authorized phone numbers the message originates from. Your authentication token grants
      access to one or more phone numbers, but the `from` field determines the actual sender.

      **Handle Format:**
      - Handles can be phone numbers or email addresses
      - Phone numbers MUST be in E.164 format (starting with +)
      - Phone format: `+[country code][subscriber number]`
      - Example phone: `+12223334444` (US), `+442071234567` (UK), `+81312345678` (Japan)
      - Example email: `user@example.com`
      - No spaces, dashes, or parentheses in phone numbers
  - name: Messages
    x-page-title: Messages
    x-page-icon: paper-plane
    description: |
      Messages are individual communications within a chat thread.

      Messages can include text, media attachments, rich link previews, special effects
      (like confetti or fireworks), and reactions. All messages are associated with a
      specific chat and sent from a phone number you own.

      Messages support delivery status tracking, read receipts, and editing capabilities.

      ## Rich Link Previews

      Send a URL as a `link` part to deliver it with a rich preview card showing the
      page's title, description, and image (when available). A `link` part must be the
      **only** part in the message — it cannot be combined with text or media parts.
      To send a URL without a preview card, include it in a `text` part instead.

      **Limitations:**
      - A `link` part cannot be combined with other parts in the same message.
      - Maximum URL length: 2,048 characters.

      ## Ephemeral Messages (Privacy Tier)

      For regulated or sensitive conversations, opt in to the **ephemeral messages** tier by contacting your Linq support contact. When enabled, every message on the covered phone numbers is automatically given a fixed **24-hour retention window** — after that window the platform permanently deletes the message from Linq storage. There is no per-message flag; ephemerality is applied automatically based on your configuration.

      You can request it at two scopes:

      | Scope | Effect |
      |---|---|
      | **Partner-wide** | Every outbound and inbound message on every phone number under your account is retained for 24 hours, then deleted. |
      | **Per phone number** | Only the specified phone numbers have their messages auto-deleted. The rest follow the standard message-retention policy. |

      **Behavioral differences vs the standard default:**

      | Aspect | Standard | Ephemeral |
      |---|---|---|
      | Retention | Retained per the standard message-retention policy | **Hard backstop: 24 hours** from when the message is created |
      | After expiry | Message stays retrievable | Message is permanently deleted — `GET /v3/messages/{messageId}` returns `404` and it no longer appears in `GET /v3/chats/{chatId}/messages` |
      | Content on expiry | N/A | Text, formatting, and attachment references are scrubbed; the message is gone, not blanked out |
      | Cross-partner isolation | Enforced | Enforced |

      **How the 24-hour window works:**

      - The window is fixed at **24 hours from message creation** (`created_at`) and cannot be configured per message.
      - It mirrors the ephemeral *attachments* 1-day backstop, so a message and any media it carries expire together.
      - Expiry is delivery-independent — the clock starts when the message is created, not when it is delivered or read.

      **What you observe:**

      - **No expiry timestamp is exposed.** API responses and webhook payloads do not include the deletion time. If you need it, compute `created_at + 24h` yourself.
      - **No deletion webhook is sent.** There is no `message.deleted` event — a message simply stops being retrievable once its window passes.
      - **Delivery is unaffected.** Ephemeral messages send, deliver, and fire the usual `message.sent` / `message.received` and status webhooks exactly like standard messages. Only retention changes.

      **When to choose ephemeral:**

      - You have a compliance requirement that the platform must not retain message content beyond a short window.
      - The conversation is high-sensitivity (PHI, financial, identity verification) and you do not want it sitting in storage long-term.
      - Your application is the system of record — you capture what you need from the delivery webhook in real time and do not rely on reading message history back from Linq later.

      **Important:** ephemeral applies in *both directions* — messages you send **and** messages received by the phone numbers in that scope. Because Linq can no longer return the message after 24 hours, persist anything you need to keep from the webhook payload at the time it is delivered.
  - name: Attachments
    x-page-title: Attachments
    x-page-icon: paperclip
    description: |
      Send files (images, videos, documents, audio) with messages by providing a URL in a media part.
      Pre-uploading via `POST /v3/attachments` is **optional** and only needed for specific optimization scenarios.

      ## Sending Media via URL (up to 10MB)

      Provide a publicly accessible HTTPS URL with a [supported media type](#supported-file-types) in the `url` field of a media part.

      ```json
      {
        "parts": [
          { "type": "media", "url": "https://your-cdn.com/images/photo.jpg" }
        ]
      }
      ```

      This works with any URL you already host — no pre-upload step required. **Maximum file size: 10MB.**

      ## Pre-Upload (required for files over 10MB)

      Use `POST /v3/attachments` when you want to:
      - **Send files larger than 10MB** (up to 100MB) — URL-based downloads are limited to 10MB
      - **Send the same file to many recipients** — upload once, reuse the `attachment_id` without re-downloading each time
      - **Reduce message send latency** — the file is already stored, so sending is faster

      **How it works:**
      1. `POST /v3/attachments` with file metadata → returns a presigned `upload_url` (valid for **15 minutes**) and a permanent `attachment_id`
      2. PUT the raw file bytes to the `upload_url` with the `required_headers` (no JSON or multipart — just the binary content)
      3. Reference the `attachment_id` in your media part when sending messages (no expiration)

      **Key difference:** When you provide an external `url`, we download and process the file on every send.
      When you use a pre-uploaded `attachment_id`, the file is already stored — so repeated sends skip the download step entirely.

      ## Domain Allowlisting

      Attachment URLs in API responses are served from `cdn.linqapp.com`. This includes:
      - `url` fields in media and voice memo message parts
      - `download_url` fields in attachment and upload response objects

      If your application enforces domain allowlists (e.g., for SSRF protection), add:

      ```
      cdn.linqapp.com
      ```

      ## Supported File Types

      - **Images:** JPEG, PNG, GIF, HEIC, HEIF, TIFF, BMP
      - **Videos:** MP4, MOV, M4V
      - **Audio:** M4A, AAC, MP3, WAV, AIFF, CAF, AMR
      - **Documents:** PDF, TXT, RTF, CSV, Office formats, ZIP
      - **Contact & Calendar:** VCF, ICS

      ## Audio: Attachment vs Voice Memo

      Audio files sent as media parts appear as **downloadable file attachments** in iMessage.
      To send audio as an **iMessage voice memo bubble** (with native inline playback UI),
      use the dedicated `POST /v3/chats/{chatId}/voicememo` endpoint instead.

      ## File Size Limits

      - **URL-based (`url` field):** 10MB maximum
      - **Pre-upload (`attachment_id`):** 100MB maximum

      ## Security & Ownership

      Every attachment is bound to the partner account that created or received it. The API enforces ownership on every operation that touches an attachment — sending, retrieving, deleting.

      **What this means for you:**

      - An attachment created under your API key can only be referenced by your API key.
      - Submitting another partner's `attachment_id` returns `404 Not Found`. We do not disclose whether the id exists or belongs to someone else.
      - Submitting a CDN URL that resolves to another partner's attachment is rejected before the send is attempted.
      - Ownership enforcement applies uniformly across send, create-chat, voice memo, retrieve, and delete operations.

      Every attachment-affecting endpoint requires a valid partner API key. Unauthenticated calls return `401 Unauthorized`.

      ## Attachment URL Patterns

      Attachment URLs in API responses and webhook payloads use one of two layouts, depending on the attachment's tier:

      | Tier | URL pattern | TTL |
      |---|---|---|
      | Persistent (default) | `https://cdn.linqapp.com/attachments/partners/{partner_id}/{attachment_id}/{filename}` | Long-lived |
      | Ephemeral | Pre-signed URL pointing at the ephemeral prefix on `cdn.linqapp.com` | 15 minutes per signed URL — re-fetch via the API for a fresh URL |

      Inbound media you receive over webhooks uses the same layout your outbound sends produce, so the URL you store and the URL you build look identical — no special casing in your client.

      ## Ephemeral Attachments (Privacy Tier)

      For regulated or sensitive content, opt in to the **ephemeral attachments** tier by contacting your Linq support contact. You can request it at two scopes:

      | Scope | Effect |
      |---|---|
      | **Partner-wide** | Every outbound and inbound attachment on every phone number under your account is routed through the ephemeral tier. |
      | **Per phone number** | Only the specified phone numbers route their attachments through the ephemeral tier. The rest stay on the persistent tier. |

      **Behavioral differences vs the persistent default:**

      | Aspect | Persistent | Ephemeral |
      |---|---|---|
      | Download URL form | Long-lived CDN URL | Pre-signed URL with short TTL |
      | Retention floor | Indefinite (until you call `DELETE`) | **Hard backstop: 1 day** — even without an explicit `DELETE`, the platform removes the underlying bytes after 24 hours |
      | URL re-fetch | Not required | Fetch via `GET /v3/attachments/{attachmentId}` for a fresh signed URL after TTL expiry |
      | Cross-partner isolation | Enforced | Enforced |

      **When to choose ephemeral:**

      - Your downstream system processes the file immediately on receipt and does not need to re-read it later.
      - You have a compliance requirement that the platform must not retain attachments beyond a short window.
      - The content is high-sensitivity (PHI, financial documents, identity verification) and you do not want it sitting behind a long-lived URL.

      **Important:** ephemeral applies in *both directions* — outbound files you upload **and** inbound media received by the phone numbers in that scope. Download bytes you need to keep promptly, or fetch a fresh signed URL via the API when needed.

      ## Deleting an Attachment

      To permanently remove an attachment you own, use:

      ```http
      DELETE /v3/attachments/{attachmentId}
      Authorization: Bearer <your_api_key>
      ```

      **What this does:**

      1. Verifies the attachment is owned by your account. Returns `404` otherwise.
      2. Removes the underlying file from Linq storage.
      3. Records an audit entry (timestamp, partner, attachment id).

      **Response codes:**

      | Status | Meaning |
      |---|---|
      | `204 No Content` | Deletion succeeded. The attachment is removed from Linq storage. |
      | `400 Bad Request` | `attachmentId` is not a valid UUID. |
      | `401 Unauthorized` | Missing or invalid API key. |
      | `404 Not Found` | Attachment does not exist or is not owned by your account. |
      | `500 Internal Server Error` | Transient infrastructure issue — safe to retry. |

      **Effect on message history:**

      - Messages that referenced the deleted attachment remain visible.
      - The message part that pointed at the attachment is preserved with no attachment reference.
      - Webhook payloads previously delivered to you retain the original URL string, but downloads from that URL return `404` going forward.

      Deletion is **irreversible**. Once `204` is returned, the bytes are gone — there is no undelete.

      ## Inbound Media Flow

      When one of your phone numbers receives a message with media (image, video, audio, document), the platform:

      1. Stores the file under your partner account.
      2. Records metadata linked to the inbound message.
      3. Delivers a webhook whose `parts[]` array includes a `media` part with a `url` pointing at `cdn.linqapp.com`.
      4. If the receiving phone is opted in to ephemeral, the `url` is a short-TTL signed URL.

      You can acknowledge the webhook without fetching the file inline, and lazy-load via `GET /v3/attachments/{attachmentId}` later. For ephemeral attachments, retrieving via the API always returns a freshly-signed URL.

      ## Data Lifecycle Summary

      | Data | Persistent tier | Ephemeral tier |
      |---|---|---|
      | Attachment bytes | Retained until you `DELETE` | **Auto-removed after 1 day**, also removable via `DELETE` |
      | Attachment metadata (id, filename, mime type, size) | Retained until you `DELETE` | Removed alongside the bytes |
      | Message body & parts | Retained per message-retention policy | Retained per message-retention policy — unless the line also has **ephemeral messages** enabled (see the Messages page), in which case the message and its parts are deleted 24 hours after creation |
      | Audit log of deletions | Retained per platform retention policy | Retained per platform retention policy |

      **In transit:** TLS 1.2+ everywhere. **At rest:** AES-256 (server-side encryption).

      ## Compliance Checklist

      If you're integrating Linq under a security or privacy review, here is the short list:

      - Allowlist exactly one outbound domain: `cdn.linqapp.com`.
      - Decide whether you need ephemeral attachments (high-sensitivity content) — request enablement through your Linq support contact.
      - Implement `DELETE /v3/attachments/{attachmentId}` calls in your deletion workflow.
      - Persist any attachments your application needs long-term — Linq is the authoritative source until you delete, but the ephemeral tier auto-purges after 1 day.
      - For audit: every deletion is logged on Linq's side. Surface a confirmation in your application UI based on the `204` response.
      - For end-user "right to delete" requests: enumerate attachment ids and `DELETE` each. The platform does not provide a partner-wide wipe endpoint — deletion is per-attachment by design.
  - name: Phone Numbers
    x-page-title: Phone Numbers
    x-page-icon: phone
    description: |
      Phone Numbers represent the phone numbers assigned to your partner account.

      Use the list phone numbers endpoint to discover which phone numbers are available
      for sending messages.

      When creating chats, listing chats, or sending a voice memo, use one of your assigned phone numbers
      in the `from` field.
  - name: Contact Card
    x-page-title: Contact Card
    x-page-icon: address-card
    description: |
      Contact Card lets you set and share your contact information (name and profile photo) with chat participants via iMessage Name and Photo Sharing.

      Use `POST /v3/contact_card` to create or update a card for a phone number.
      Use `PATCH /v3/contact_card` to update an existing active card.
      Use `GET /v3/contact_card` to retrieve the active card(s) for your partner account.

      **Sharing behavior:** Sharing may not take effect in every chat due to limitations outside our control. We recommend calling the share endpoint once per day, after the first outbound activity.
  - name: Location Sharing
    x-page-title: Location Sharing
    x-page-icon: map-pin
    description: |
      Request a contact's location, retrieve location for contacts sharing with you,
      and subscribe to webhooks when someone starts or stops sharing.

      **Coordinates** are returned in [GeoJSON](https://datatracker.ietf.org/doc/html/rfc7946) format:
      `[longitude, latitude]` or `[longitude, latitude, altitude]` if altitude is available.

      ### Reading location is poll-based

      Poll `GET /v3/chats/{chatId}/location` whenever you need the latest position.
      **There is no webhook that pushes updated coordinates** — the
      `location.sharing.started` / `location.sharing.stopped` webhooks fire only when a
      contact begins or ends sharing, not on each position update. To track a moving
      contact, poll the `GET` endpoint.

      ### Freshness

      Each feature's `properties.updated_at` tells you when that participant's
      location was last updated — use it to judge freshness.

      ### Polling guidance

      Locations refresh on Apple's cadence, not per request — polling faster than a
      participant's location actually updates just returns the same position. Poll at a
      modest interval (for example, once every few minutes per chat) rather than
      continuously.

      ### Why is location empty after `location.sharing.started` fired?

      If the contact started sharing from the **standalone Find My app** instead of the
      Messages conversation, the share may be tied to their **Apple ID email** rather
      than their phone number — the webhook's `shared_by` field shows the email in that
      case. Location is readable only through a chat with the handle that shared, so
      `GET /v3/chats/{chatId}/location` on the phone-number chat stays empty.

      The fix: have the contact stop sharing and re-share from **Find My inside the
      Messages conversation** with your number.
  - name: Calls
    x-page-title: Calls
    x-page-icon: phone-arrow-up-right
    description: |
      Audio and video call management.

      Use these endpoints to initiate outbound calls from a phone number,
      answer inbound ringing calls, and end active calls.

      **Required codecs:**
      - Audio: Opus (48kHz, mono)
      - Video: H.264
  - name: Capability Checks
    x-page-title: Capability Checks
    x-page-icon: signal-bars
    description: |
      Check whether a recipient address supports iMessage or RCS before sending a message.
  - name: Webhooks
    x-page-title: Webhooks
    x-page-icon: bell
    description: |
      Webhook Subscriptions allow you to receive real-time notifications when events
      occur on your account.

      Configure webhook endpoints to receive events such as messages sent/received,
      delivery status changes, reactions, typing indicators, and more.

      Failed deliveries (5xx, 429, network errors) are retried up to 10 times over
      ~25 minutes with exponential backoff. Each event includes a unique ID for
      deduplication.

      ## Webhook Headers

      All webhook requests include two sets of headers. **If you have an existing integration
      using the `X-Webhook-*` headers, nothing changes** — those headers are still sent on
      every delivery and work exactly as before. The new `webhook-*` headers follow the
      [Standard Webhooks](https://github.com/standard-webhooks/standard-webhooks) specification.
      You can safely ignore them if your current verification code works and you don't want to use this convention.

      ### Standard Webhooks Headers (Recommended)

      Used by [our SDK](https://github.com/linq-team/linq-node) and any [Standard Webhooks library](https://github.com/standard-webhooks/standard-webhooks).

      | Header | Description |
      |--------|-------------|
      | `webhook-id` | Unique event identifier (use as idempotency key) |
      | `webhook-timestamp` | Unix timestamp (seconds) when the webhook was sent |
      | `webhook-signature` | Standard Webhooks signature (`v1,{base64}` format) |

      ### Legacy Headers (Deprecated)

      Still sent on every delivery for backwards compatibility. Existing verification code
      using these headers continues to work — no changes required.

      | Header | Description |
      |--------|-------------|
      | `X-Webhook-Event` | *(deprecated)* Event type (e.g., `message.sent`) |
      | `X-Webhook-Subscription-ID` | *(deprecated)* Webhook subscription ID |
      | `X-Webhook-Timestamp` | *(deprecated)* Unix timestamp (seconds) |
      | `X-Webhook-Signature` | *(deprecated)* HMAC-SHA256 signature (hex-encoded) |

      ## Signing Secrets

      Signing secrets use the Standard Webhooks format: a `whsec_` prefix followed
      by base64-encoded random bytes (e.g., `whsec_MfKQ9r8GKYqrTwjUPD8ILPZIo2LaLaSw7Jxx2Oll+OE=`).

      Strip the `whsec_` prefix and base64-decode the remainder to get the raw key bytes.

      ## Verifying Webhook Signatures

      Webhooks are signed following the [Standard Webhooks specification](https://github.com/standard-webhooks/standard-webhooks).
      You can use any [Standard Webhooks library](https://github.com/standard-webhooks/standard-webhooks) to verify
      signatures, or implement verification manually:

      **Signed content:** `{webhook-id}.{webhook-timestamp}.{body}`

      **Verification Steps:**

      1. Extract the `webhook-id`, `webhook-timestamp`, and `webhook-signature` headers
      2. Reject if the timestamp is more than 5 minutes old (replay protection)
      3. Get the raw request body bytes (do not parse and re-serialize)
      4. Construct signed content: `"{webhook-id}.{webhook-timestamp}.{body}"`
      5. Strip the `whsec_` prefix from your secret and base64-decode to get key bytes
      6. Compute HMAC-SHA256 using the key bytes over the signed content
      7. Base64-encode the result and compare with the value after `v1,` in `webhook-signature`
      8. Use constant-time comparison to prevent timing attacks

      **Example (Python):**

      ```python
      import base64, hmac, hashlib

      def verify_webhook(secret, body, headers):
          msg_id = headers['webhook-id']
          timestamp = headers['webhook-timestamp']
          signature = headers['webhook-signature']

          secret_str = secret.removeprefix('whsec_')
          key = base64.b64decode(secret_str)

          signed_content = f"{msg_id}.{timestamp}.{body}"
          expected = base64.b64encode(
              hmac.new(key, signed_content.encode(), hashlib.sha256).digest()
          ).decode()

          for sig in signature.split(' '):
              if sig.startswith('v1,') and hmac.compare_digest(expected, sig[3:]):
                  return True
          return False
      ```

      **Example (Node.js):**

      ```javascript
      const crypto = require('crypto');

      function verifyWebhook(secret, rawBody, headers) {
        const msgId = headers['webhook-id'];
        const timestamp = headers['webhook-timestamp'];
        const signature = headers['webhook-signature'];

        const secretStr = secret.startsWith('whsec_') ? secret.slice(6) : secret;
        const keyBytes = Buffer.from(secretStr, 'base64');
        const signedContent = `${msgId}.${timestamp}.${rawBody}`;
        const expected = crypto
          .createHmac('sha256', keyBytes)
          .update(signedContent)
          .digest('base64');

        return signature.split(' ').some(sig => {
          if (!sig.startsWith('v1,')) return false;
          try {
            return crypto.timingSafeEqual(
              Buffer.from(expected, 'base64'),
              Buffer.from(sig.slice(3), 'base64')
            );
          } catch { return false; }
        });
      }
      ```

      **Security Best Practices:**

      - Reject webhooks with timestamps older than 5 minutes to prevent replay attacks
      - Always use constant-time comparison for signature verification
      - Store your signing secret securely (e.g., environment variable, secrets manager)
      - Return a 2xx status code quickly, then process the webhook asynchronously
  - name: Webhook Events
    x-page-title: Webhook Events
    x-page-icon: bolt
    description: |
      Webhook event definitions for the Linq API.

      These webhooks are delivered to your configured endpoint when events occur
      in your messaging infrastructure.

      ## Webhook Versioning

      Webhook payloads are versioned using dates. **We strongly recommend specifying a version**
      when creating webhook subscriptions by adding `?version=YYYY-MM-DD` to your target URL.

      ### Available Versions

      | Subscription Created | `webhook_version` |
      |---------------------|-------------------|
      | Before 2026-02-03 | `2025-01-01` |
      | 2026-02-03 or later | `2026-02-03` |

      ### How to Specify a Version

      Add `?version=YYYY-MM-DD` to your webhook subscription URL:

      ```
      https://your-server.com/webhook?version=2026-02-03
      ```

      If no version is specified, the subscription uses the latest available version at creation time.

      > **Warning:** If you delete and recreate a subscription without specifying a version,
      > you may receive a different payload format than before. Always check the `webhook_version`
      > in your current payloads before recreating subscriptions to ensure continuity.

      ### Differences Between Versions

      Only **message events** have different payload structures between versions:

      | Field | `2025-01-01` | `2026-02-03` |
      |-------|--------------|--------------|
      | Direction | `is_from_me: true/false` | `direction: "outbound"/"inbound"` |
      | Sender | `from_handle` | `sender_handle` |
      | Chat info | `chat_id`, `is_group` at top level | `chat` object with `id`, `is_group`, `owner_handle` |
      | Message fields | Nested in `message` object | Flat at top level (`id`, `parts`, `sent_at`, etc.) |

      All other events (reactions, participants, chat events, typing indicators) use the same format regardless of version.

      ## Webhook Headers & Signature Verification

      See [Verifying Webhook Signatures](https://docs.linqapp.com/guides/webhooks#verifying-webhook-signatures) for
      full details on headers, signing secrets, and verification examples.

      All webhook requests include [Standard Webhooks](https://github.com/standard-webhooks/standard-webhooks) headers
      (`webhook-id`, `webhook-timestamp`, `webhook-signature`). Legacy `X-Webhook-*` headers are also
      sent for backwards compatibility but are deprecated.

      ## Delivery Guarantees & SLA

      | Guarantee | Value |
      |-----------|-------|
      | **Response timeout** | 10 seconds |
      | **Retry attempts** | 10 attempts per endpoint |
      | **Retry backoff** | Exponential with ±20% jitter, capped at 10 minutes |
      | **Total retry window** | ~25 minutes |
      | **Delivery model** | At-least-once (duplicates possible during retries) |

      ### Retry Behavior

      If your endpoint returns a non-2xx status code or times out, we will retry delivery with exponential backoff plus jitter:

      - **Attempt 1:** After ~2 seconds
      - **Attempt 2:** After ~4 seconds
      - **Attempt 3:** After ~8 seconds
      - **Attempt 4:** After ~16 seconds
      - **Attempt 5:** After ~32 seconds
      - **Attempt 6:** After ~64 seconds
      - **Attempt 7:** After ~128 seconds
      - **Attempt 8:** After ~256 seconds
      - **Attempt 9:** After ~512 seconds
      - **Attempt 10:** After ~600 seconds (capped at 10 minutes)

      After 10 failed attempts (~25 minutes total), the webhook is marked as failed for that endpoint.

      **Important:** Retries are per-endpoint. If you have multiple webhook subscriptions, a failure on one endpoint does not affect delivery to your other endpoints.

      ### What Triggers a Retry?

      - HTTP 5xx responses (server errors)
      - HTTP 429 (rate limited)
      - Connection timeout (>10 seconds)
      - Connection refused / network errors

      **Not retried:** HTTP 4xx responses (except 429), DNS resolution failures, and invalid hostnames are considered permanent failures and are not retried.

      ### Your Endpoint Should

      1. **Return `200` quickly** — respond within 10 seconds, process asynchronously if needed
      2. **Verify the HMAC signature** — reject requests with invalid signatures
      3. **Deduplicate using `event_id`** — the same event may arrive multiple times during retries
      4. **Be idempotent** — processing the same event twice should have no side effects
  - name: '2026-02-03'
    x-page-title: 'v: 2026-02-03 (latest)'
    x-parent: Webhook Events
    description: |
      Webhook payload format for subscriptions created **on or after February 3, 2026**.

      This version uses `direction: "inbound"/"outbound"` and places message fields at the top level of the `data` object.
  - name: '2025-01-01'
    x-page-title: 'v: 2025-01-01'
    x-parent: Webhook Events
    description: |
      Webhook payload format for subscriptions created **before February 3, 2026**.

      This version uses `is_from_me` for direction and nests message fields under a `message` object.
paths:
  /v3/chats:
    post:
      operationId: createChat
      summary: Create a new chat
      description: |
        Create a new chat with specified participants and send an initial message.
        The initial message is required when creating a chat.

        ## Message Effects

        You can add iMessage effects to make your messages more expressive. Effects are
        optional and can be either screen effects (full-screen animations) or bubble effects
        (message bubble animations).

        **Screen Effects:** `confetti`, `fireworks`, `lasers`, `sparkles`, `celebration`,
        `hearts`, `love`, `balloons`, `happy_birthday`, `echo`, `spotlight`

        **Bubble Effects:** `slam`, `loud`, `gentle`, `invisible`

        Only one effect type can be applied per message.

        ## Inline Text Decorations (iMessage only)

        Use the `text_decorations` array on a text part to apply styling and animations to character ranges.

        Each decoration specifies a `range: [start, end)` and exactly one of `style` or `animation`.

        **Styles:** `bold`, `italic`, `strikethrough`, `underline`
        **Animations:** `big`, `small`, `shake`, `nod`, `explode`, `ripple`, `bloom`, `jitter`

        ```json
        {
          "type": "text",
          "value": "Hello world",
          "text_decorations": [
            { "range": [0, 5], "style": "bold" },
            { "range": [6, 11], "animation": "shake" }
          ]
        }
        ```

        **Note:** Style ranges (bold, italic, etc.) may overlap, but animation ranges must not overlap with other animations or styles. Text decorations only render for iMessage recipients.
        For SMS/RCS, text decorations are not applied.

        ## First-Message Link Restriction

        To protect sender deliverability, the **first outbound message** of a new chat cannot be a link.
        The request is rejected with `400` (error code `1005`) when:

        - The message contains a `link` part (explicit rich-preview link), or
        - Any `text` part contains a URL.

        This rule applies only to `POST /v3/chats`. Follow-up messages on an existing chat
        (`POST /v3/chats/{chatId}/messages`) are not subject to this restriction.

        ## Reusing an Existing Chat

        Chats are keyed on the `from` line plus the exact set of `to` handles. Repeating this
        request with the same `from` and `to` returns the **existing** chat and sends the message
        into it instead of starting a second conversation.

        A group chat that has a `display_name` is excluded from that matching. To run several
        parallel groups over the same participants, name each one with `PUT /v3/chats/{chatId}`
        before creating the next: the following `POST /v3/chats` with the same `to` then returns a
        new, separate `chat_id`. Two other cases also produce a new chat instead of reusing one —
        the participant set changed (a participant was added or removed), or the `from` line left
        the group.

        Whenever the response is a new chat, the first-message rules above apply to that request:
        no link in the first message, and no `reply_to` or message effect. To send into a chat you
        already know, use `POST /v3/chats/{chatId}/messages` with its `chat_id`.
      tags:
        - Chats
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatRequest'
            examples:
              chatWithTextMessage:
                summary: Text-only message
                value:
                  from: '+12052535597'
                  to:
                    - '+12052532136'
                  message:
                    parts:
                      - type: text
                        value: Hello! How can I help you today?
              chatWithMediaUrl:
                summary: Media via external URL (server downloads automatically)
                value:
                  from: '+12052535597'
                  to:
                    - '+12052532136'
                  message:
                    parts:
                      - type: text
                        value: Check out this image!
                      - type: media
                        url: https://images.dog.ceo/breeds/terrier-cairn/n02096177_13328.jpg
              chatWithPreuploadedMedia:
                summary: Media via pre-uploaded attachment (after POST /v3/attachments)
                value:
                  from: '+12052535597'
                  to:
                    - '+12052532136'
                  message:
                    parts:
                      - type: media
                        attachment_id: 550e8400-e29b-41d4-a716-446655440000
              chatWithConfettiEffect:
                summary: Message with confetti screen effect
                value:
                  from: '+12052535597'
                  to:
                    - '+12052532136'
                  message:
                    parts:
                      - type: text
                        value: Welcome aboard! 🎉
                    effect:
                      type: screen
                      name: confetti
              chatWithInvisibleInk:
                summary: Message with invisible ink bubble effect
                value:
                  from: '+12052535597'
                  to:
                    - '+12052532136'
                  message:
                    parts:
                      - type: text
                        value: 'Here''s a secret code: ABC123'
                    effect:
                      type: bubble
                      name: invisible
              chatWithTextDecorations:
                summary: Message with text decorations (iMessage only)
                value:
                  from: '+12052535597'
                  to:
                    - '+12052532136'
                  message:
                    parts:
                      - type: text
                        value: Hello world
                        text_decorations:
                          - range:
                              - 0
                              - 5
                            style: bold
                          - range:
                              - 6
                              - 11
                            animation: shake
              chatWithPreferredService:
                summary: Force a specific delivery protocol (iMessage in this example)
                value:
                  from: '+12052535597'
                  to:
                    - '+12052532136'
                  message:
                    preferred_service: iMessage
                    parts:
                      - type: text
                        value: Sent via iMessage only
              chatWithImessageApp:
                summary: iMessage app card (must be the only part, iMessage only)
                value:
                  from: '+12052535597'
                  to:
                    - '+12052532136'
                  message:
                    parts:
                      - type: imessage_app
                        app:
                          name: Example App
                          team_id: A1B2C3D4E5
                          bundle_id: com.example.app.MessageExtension
                        url: https://app.example.com/card?id=abc123
                        fallback_text: Open in Example App
                        layout:
                          caption: Example App
                          subcaption: 'You said: hello'
      responses:
        '201':
          description: Chat created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: listChats
      summary: List all chats
      description: |
        Retrieves a paginated list of chats for the authenticated partner.

        **Filtering:**
        - If `from` is provided, returns chats for that specific phone number
        - If `from` is omitted, returns chats across all phone numbers owned by the partner
        - If `to` is provided, only returns chats where the specified handle is a participant

        **Pagination:**
        - Use `limit` to control page size (default: 20, max: 100)
        - The response includes `next_cursor` for fetching the next page
        - When `next_cursor` is `null`, there are no more results to fetch
        - Pass the `next_cursor` value as the `cursor` parameter for the next request

        **Example pagination flow:**
        1. First request: `GET /v3/chats?from=%2B12223334444&limit=20`
        2. Response includes `next_cursor: "20"` (more results exist)
        3. Next request: `GET /v3/chats?from=%2B12223334444&limit=20&cursor=20`
        4. Response includes `next_cursor: null` (no more results)
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: from
          in: query
          required: false
          description: |
            Phone number to filter chats by. Returns chats made from this phone number.
            Must be in E.164 format (e.g., `+13343284472`). The `+` is automatically URL-encoded by HTTP clients.
            If omitted, returns chats across all phone numbers owned by the partner.
          schema:
            type: string
            pattern: ^\+?[1-9]\d{1,14}$
            example: '+13343284472'
        - name: to
          in: query
          required: false
          description: |
            Filter chats by a participant handle. Only returns chats where this handle is a participant.
            Can be an E.164 phone number (e.g., `+13343284472`) or an email address (e.g., `user@example.com`).
            For phone numbers, the `+` is automatically URL-encoded by HTTP clients.
          schema:
            type: string
            example: '+13343284472'
        - name: limit
          in: query
          required: false
          description: Maximum number of chats to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
        - name: cursor
          in: query
          required: false
          description: |
            Pagination cursor from the previous response's `next_cursor` field.
            Omit this parameter for the first page of results.
          schema:
            type: string
            example: '20'
      responses:
        '200':
          description: List of chats retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChatsResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}:
    get:
      operationId: getChat
      summary: Get a chat by ID
      description: Retrieve a chat by its unique identifier.
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Chat found and returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: updateChat
      summary: Update a chat
      description: |
        Update chat properties such as display name and group chat icon.

        Listen for `chat.group_name_updated`, `chat.group_icon_updated`,
        `chat.group_name_update_failed`, or `chat.group_icon_update_failed`
        webhook events to confirm the outcome.
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChatRequest'
            examples:
              updateName:
                summary: Update chat display name
                value:
                  display_name: Team Discussion
              updateIcon:
                summary: Update group chat icon
                value:
                  group_chat_icon: https://example.com/group-icon.png
              updateBoth:
                summary: Update both display name and icon
                value:
                  display_name: Team Discussion
                  group_chat_icon: https://example.com/group-icon.png
      responses:
        '202':
          description: Update request accepted and queued for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: pending
                  chat_id:
                    type: string
                    format: uuid
                    example: 550e8400-e29b-41d4-a716-446655440000
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}/participants:
    post:
      operationId: addParticipant
      summary: Add a participant to a chat
      description: |
        Add a new participant to an existing group chat.

        **Requirements:**
        - Group chats only (3+ existing participants)
        - New participant must support the same messaging service as the group
        - Cross-service additions not allowed (e.g., can't add RCS-only user to iMessage group)
        - For cross-service scenarios, create a new chat instead
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddParticipantRequest'
            examples:
              addUser:
                summary: Add a participant
                value:
                  handle: '+12052499136'
      responses:
        '202':
          description: Participant addition queued successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: accepted
                  trace_id:
                    type: string
                  message:
                    type: string
                    example: Participant addition queued
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: removeParticipant
      summary: Remove a participant from a chat
      description: |
        Remove a participant from an existing group chat.

        **Requirements:**
        - Group chats only
        - Must have 3+ participants after removal
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveParticipantRequest'
            examples:
              removeUser:
                summary: Remove a participant
                value:
                  handle: '+12052499136'
      responses:
        '202':
          description: Participant removal queued successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: accepted
                  trace_id:
                    type: string
                  message:
                    type: string
                    example: Participant removal queued
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}/leave:
    post:
      operationId: leaveChat
      summary: Leave a group chat
      description: |
        Removes your phone number from a group chat. Once you leave, you will no longer receive messages from the group and all interaction endpoints (send message, typing, mark read, etc.) will return 409.

        A `participant.removed` webhook will fire once the leave has been processed.

        **Supported**
        - iMessage group chats with 4 or more active participants (including yourself)

        **Not supported**
        - DM (1-on-1) chats — use the chat directly to continue the conversation
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat to leave
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '202':
          description: Leave group chat request queued successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: accepted
                  trace_id:
                    type: string
                  message:
                    type: string
                    example: Leave group chat queued
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}/typing:
    post:
      operationId: startTyping
      summary: Start typing indicator
      description: |
        Send a typing indicator to show that someone is typing in the chat.

        ## Behavior

        Typing indicators are best-effort signals that behave as follows:

        - **iMessage chats only:** Typing indicators are only supported for iMessage chats.
          Requests for RCS or SMS chats are accepted (`204`) but no indicator is delivered.

        - **Send a message first for reliable delivery:** Typing indicators are best-effort.
          If you have not sent a message in this chat recently (roughly the **last 5 minutes**),
          a typing indicator may not reach the recipient — the request is still accepted (`204`),
          but delivery is not deterministic. Once you have sent a message in the chat, typing
          indicators reliably reach the recipient.

        - **No delivery guarantee:** Even for active chats, a `204` response only indicates
          the request was accepted for processing.

        - **Group chats not supported:** Attempting to start a typing indicator in a group chat
          will return a `403` error.

        ## Duration & keeping it visible

        - A single call shows the indicator for about **85–90 seconds**, then it clears
          automatically.

        - To keep it visible longer, call this endpoint again every **60 seconds**. Each call
          refreshes the indicator so it stays visible continuously.

        - Sending a message clears the indicator.

        - To resume typing after sending a message, call this endpoint again.

        - Incoming messages do not affect the indicator.

        ## Recipient re-opening the chat

        If the recipient brings their messaging app to the foreground while the chat has an
        unread message, their device clears any showing typing indicator. Calling this endpoint
        again on its own may not bring it back. To make it reappear, either send a message, or
        call `DELETE /v3/chats/{chatId}/typing` (stop) and then call start typing again.

        ## Recommended usage

        Call this endpoint when composing begins, call it again every 60 seconds while
        composing, and send the message to clear the indicator. To clear the indicator without
        sending a message, call `DELETE /v3/chats/{chatId}/typing`.
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '204':
          description: |
            Request accepted. Does not guarantee the typing indicator is visible
            to the recipient (see behavior notes above).
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: stopTyping
      summary: Stop typing indicator
      description: |
        Immediately clears the typing indicator for the chat, without sending a message.

        The typing indicator also clears automatically when you send a message, or about
        85–90 seconds after the last `POST /v3/chats/{chatId}/typing` (start typing) request.

        See the start typing endpoint (`POST /v3/chats/{chatId}/typing`) above for behavior
        details.

        **Note:** Group chats are not supported and will return a `403` error.
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '204':
          description: Request accepted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}/read:
    post:
      operationId: markChatAsRead
      summary: Mark chat as read
      description: |
        Mark all messages in a chat as read.
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Chat marked as read successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}/share_contact_card:
    post:
      operationId: shareContactWithChat
      summary: Share your contact card with a chat
      description: |
        Share your contact information (Name and Photo Sharing) with a chat.

        **Note:** A contact card must be configured before sharing. You can set up your contact card via the [Contact Card API](#tag/Contact-Card) or on the [Linq dashboard](https://dashboard.linqapp.com/contact-cards).
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Contact shared successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/messages:
    post:
      operationId: sendMessage
      summary: Send a message (auto-selected from-number)
      description: |
        Send a message to one or more recipients **without supplying a `from`
        number**. Linq resolves both the sending line and the target chat for you,
        then returns exactly which line was used, which chat the message landed in,
        whether a new chat was created, and every resulting message id.

        This fuses "create chat" and "send message" behind a single
        message-centric resource. Provide only the recipients (`to`) and the
        `message`; the platform decides the rest.

        ## How the from-number and chat are chosen

        - **Reuse** — if a chat with exactly these recipients already exists on a
          line that can still send, the message is sent into that chat on its
          existing line (`from_selection.reason = reused_active_chat`). The
          most-recently-active such chat wins; chats stranded on flagged lines
          (e.g. by an earlier failover) are skipped.
        - **New** — if no such chat exists, a new chat is created on the best
          available line (`from_selection.reason = new_best_number`).
        - **Failover** — if matching chats exist but none is on a line that can
          send, a **new** chat is created on a fresh best line and the flagged chat
          is abandoned (`from_selection.reason = failover_flagged`,
          `previous_chat_id` set). If you supply `continuation_message`, that
          text is sent as the single message INSTEAD of `message` (useful as a
          fresh-number-appropriate opener). Exactly one message is sent either way.

        Recipients (`to`) are an order-independent set: a single handle is a direct
        chat, multiple handles a group chat.

        ## Excluding lines

        `exclude_from` keeps specific lines out of **this** send's line pick. It
        only affects picking a line for a new chat — an existing chat is always
        reused on its own line, preferring a chat on a non-excluded line when the
        recipients have more than one. An exclusion never abandons a live chat or
        moves it to a new number, so if the only chat these recipients have is on
        an excluded line, that chat is still used. `from` tells you the line that
        was actually used.

        ## Differences from POST /v3/chats

        - The first message **may contain a link** (including for a newly created
          chat). Note: sending a link as the very first message on a freshly
          selected line can elevate that line's flagging risk — it is allowed, not
          recommended.
        - Voice memos are **not** supported here. To send an iMessage voice-memo
          bubble, use `POST /v3/chats/{chatId}/voicememo` with a known chat id.

        ## Service preference, effects, decorations

        Set `message.preferred_service` (`iMessage` | `RCS` | `SMS`), `message.effect`,
        and per-part `text_decorations` exactly as on the other send endpoints.

        Always responds `202 Accepted` — chat creation is incidental to the send.
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: |
            Optional idempotency key for the send. Reuse the same key to safely
            retry without sending twice. May also be supplied as
            `message.idempotency_key`.
          schema:
            type: string
            maxLength: 255
            example: send-abc123xyz
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
            examples:
              directText:
                summary: Direct chat, text only (line auto-selected)
                value:
                  to:
                    - '+14155559876'
                  message:
                    parts:
                      - type: text
                        value: Hi! Thanks for reaching out — how can we help?
              groupWithMedia:
                summary: Group chat with media
                value:
                  to:
                    - '+14155559876'
                    - '+14155550123'
                  message:
                    parts:
                      - type: text
                        value: Here's the venue photo for tonight.
                      - type: media
                        url: https://cdn.linqapp.com/attachments/example/venue.jpg
              firstMessageLink:
                summary: Link as the first message (allowed here, unlike POST /v3/chats)
                value:
                  to:
                    - '+14155559876'
                  message:
                    parts:
                      - type: link
                        value: https://linqapp.com/welcome
              failoverWithContinuation:
                summary: Continuation preamble (sent only if the prior line was flagged)
                value:
                  to:
                    - '+14155559876'
                  message:
                    parts:
                      - type: text
                        value: Your appointment is confirmed for Thursday at 2pm.
                  continuation_message:
                    text: Hi, it's Acme Support reaching you from a new number.
              excludeLines:
                summary: Keep specific lines out of this send's line pick
                value:
                  to:
                    - '+14155559876'
                  exclude_from:
                    - '+12052535597'
                  message:
                    parts:
                      - type: text
                        value: Your order is on the way.
      responses:
        '202':
          description: Message accepted for delivery
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: No eligible sending line available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  status: 409
                  code: 2015
                  message: no eligible sending line available
                  doc_url: https://docs.linqapp.com/error/codes/2xxx/2015/
                success: false
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}/messages:
    post:
      operationId: sendMessageToChat
      summary: Send a message to an existing chat
      description: |
        Send a message to an existing chat. Use this endpoint when you already have
        a chat ID and want to send additional messages to it.

        ## Message Effects

        You can add iMessage effects to make your messages more expressive. Effects are
        optional and can be either screen effects (full-screen animations) or bubble effects
        (message bubble animations).

        **Screen Effects:** `confetti`, `fireworks`, `lasers`, `sparkles`, `celebration`,
        `hearts`, `love`, `balloons`, `happy_birthday`, `echo`, `spotlight`

        **Bubble Effects:** `slam`, `loud`, `gentle`, `invisible`

        Only one effect type can be applied per message.

        ## Inline Text Decorations (iMessage only)

        Use the `text_decorations` array on a text part to apply styling and animations to character ranges.

        Each decoration specifies a `range: [start, end)` and exactly one of `style` or `animation`.

        **Styles:** `bold`, `italic`, `strikethrough`, `underline`
        **Animations:** `big`, `small`, `shake`, `nod`, `explode`, `ripple`, `bloom`, `jitter`

        ```json
        {
          "type": "text",
          "value": "Hello world",
          "text_decorations": [
            { "range": [0, 5], "style": "bold" },
            { "range": [6, 11], "animation": "shake" }
          ]
        }
        ```

        **Note:** Style ranges (bold, italic, etc.) may overlap, but animation ranges must not overlap with other animations or styles. Text decorations only render for iMessage recipients.
        For SMS/RCS, text decorations are not applied.
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageToChatRequest'
            examples:
              simple_text:
                summary: Simple text message
                value:
                  message:
                    parts:
                      - type: text
                        value: Hello, world!
              with_confetti:
                summary: Message with confetti effect
                value:
                  message:
                    parts:
                      - type: text
                        value: Congratulations! 🎉
                    effect:
                      type: screen
                      name: confetti
              with_slam:
                summary: Message with slam bubble effect
                value:
                  message:
                    parts:
                      - type: text
                        value: BOOM!
                    effect:
                      type: bubble
                      name: slam
              with_invisible_ink:
                summary: Message with invisible ink effect
                value:
                  message:
                    parts:
                      - type: text
                        value: This is a secret message
                    effect:
                      type: bubble
                      name: invisible
              with_text_decorations:
                summary: Message with text decorations (iMessage only)
                value:
                  message:
                    parts:
                      - type: text
                        value: Hello world
                        text_decorations:
                          - range:
                              - 0
                              - 5
                            style: bold
                          - range:
                              - 6
                              - 11
                            animation: shake
              with_link:
                summary: Rich link preview (link part must be the only part)
                value:
                  message:
                    parts:
                      - type: link
                        value: https://linqapp.com
              with_reply_to:
                summary: Threaded reply to a previous message
                value:
                  message:
                    parts:
                      - type: text
                        value: Great point!
                    reply_to:
                      message_id: 6ba7b810-9dad-11d1-80b4-00c04fd430c8
                      part_index: 0
              with_media_url:
                summary: Text plus media via direct HTTPS URL
                value:
                  message:
                    parts:
                      - type: text
                        value: Check out this photo!
                      - type: media
                        url: https://example.com/photo.jpg
              with_media_attachment_id:
                summary: Media via pre-uploaded attachment
                value:
                  message:
                    parts:
                      - type: media
                        attachment_id: 550e8400-e29b-41d4-a716-446655440000
              with_idempotency_key:
                summary: Idempotent send (key dedupes retries)
                value:
                  message:
                    parts:
                      - type: text
                        value: This won't be sent twice
                    idempotency_key: unique-request-id-123
              with_imessage_app:
                summary: iMessage app card (must be the only part, iMessage only)
                value:
                  message:
                    parts:
                      - type: imessage_app
                        app:
                          name: Example App
                          team_id: A1B2C3D4E5
                          bundle_id: com.example.app.MessageExtension
                        url: https://app.example.com/card?id=abc123
                        fallback_text: Open in Example App
                        layout:
                          caption: Example App
                          subcaption: 'You said: hello'
              with_static_imessage_app:
                summary: Static iMessage app card (no interactive extension UI)
                value:
                  message:
                    parts:
                      - type: imessage_app
                        app:
                          name: Example App
                          team_id: A1B2C3D4E5
                          bundle_id: com.example.app.MessageExtension
                        url: https://app.example.com/card?id=abc123
                        fallback_text: Open in Example App
                        interactive: false
                        layout:
                          caption: Example App
                          subcaption: 'You said: hello'
              with_imessage_app_image:
                summary: iMessage app card with a preview image and image overlay text
                value:
                  message:
                    parts:
                      - type: imessage_app
                        app:
                          name: Example App
                          team_id: A1B2C3D4E5
                          bundle_id: com.example.app.MessageExtension
                        url: https://app.example.com/card?id=abc123
                        fallback_text: Open in Example App
                        layout:
                          caption: Example App
                          subcaption: 'You said: hello'
                          image_url: https://cdn.linqapp.com/example/card-preview.jpg
                          image_title: Table for 2
                          image_subtitle: Tonight, 7:30 PM
      responses:
        '202':
          description: Message accepted for delivery
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: getMessages
      summary: Get messages from a chat
      description: |
        Retrieve messages from a specific chat with pagination support.
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
        - name: cursor
          in: query
          description: Pagination cursor from previous next_cursor response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of messages to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Messages retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessagesResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/messages/{messageId}/thread:
    get:
      operationId: getMessageThread
      summary: Get all messages in a thread
      description: |
        Retrieve all messages in a conversation thread. Given any message ID in the thread,
        returns the originator message and all replies in chronological order.

        If the message is not part of a thread, returns just that single message.

        Supports pagination and configurable ordering.
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: messageId
          in: path
          required: true
          description: ID of any message in the thread (can be originator or any reply)
          schema:
            type: string
            format: uuid
            example: 69a37c7d-af4f-4b5e-af42-e28e98ce873a
        - name: cursor
          in: query
          description: Pagination cursor from previous next_cursor response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of messages to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: order
          in: query
          description: Sort order for messages (asc = oldest first, desc = newest first)
          schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
      responses:
        '200':
          description: Thread retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetThreadResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}/voicememo:
    post:
      operationId: sendVoiceMemoToChat
      summary: Send a voice memo to a chat
      description: |
        Send an audio file as an **iMessage voice memo bubble** to all participants in a chat.
        Voice memos appear with iMessage's native inline playback UI, unlike regular audio
        attachments sent via media parts which appear as downloadable files.

        **Supported audio formats:**
        - MP3 (audio/mpeg)
        - M4A (audio/x-m4a, audio/mp4)
        - AAC (audio/aac)
        - CAF (audio/x-caf) - Core Audio Format
        - WAV (audio/wav)
        - AIFF (audio/aiff, audio/x-aiff)
        - AMR (audio/amr)
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: f19ee7b8-8533-4c5c-83ec-4ef8d6d1ddbd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendVoiceMemoToChatRequest'
            examples:
              with_url:
                summary: Send via URL
                value:
                  voice_memo_url: https://example.com/voice-memo.m4a
              with_attachment_id:
                summary: Send via pre-uploaded attachment
                value:
                  attachment_id: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '202':
          description: Voice memo accepted for delivery
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendVoiceMemoToChatResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '413':
          description: Voice memo file too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  status: 413
                  code: 5001
                  message: Voice memo file too large - maximum size is 10MB
                  doc_url: https://docs.linqapp.com/error/codes/5xxx/5001/
                success: false
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/messages/{messageId}:
    get:
      operationId: getMessage
      summary: Get a message by ID
      description: |
        Retrieve a specific message by its ID. This endpoint returns the full message
        details including text, attachments, reactions, and metadata.
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: messageId
          in: path
          required: true
          description: Unique identifier of the message to retrieve
          schema:
            type: string
            format: uuid
            example: 69a37c7d-af4f-4b5e-af42-e28e98ce873a
      responses:
        '200':
          description: Message found and returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: editMessage
      summary: Edit the content of a message part
      description: |
        Edit the text content of a specific part of a previously sent message.

        **Note:** A message can be edited up to 5 times, and only within 15 minutes of when it was originally sent.
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: messageId
          in: path
          required: true
          description: Unique identifier of the message to edit
          schema:
            type: string
            format: uuid
            example: 69a37c7d-af4f-4b5e-af42-e28e98ce873a
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditMessageRequest'
            examples:
              editMessage:
                summary: Edit the first part of a message
                value:
                  part_index: 0
                  text: This is the edited message content
      responses:
        '200':
          description: Message updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '204':
          description: Edit accepted for a previously deleted message. Listen for the `message.edited` webhook to confirm the edit was applied.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteMessage
      summary: Delete a message from system
      description: |
        Deletes a message from the Linq API only. This does NOT unsend or remove the message
        from the actual chat — recipients will still see the message.
        Re-sending with a deleted message's idempotency key returns 404 — a deleted message is never resent.
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: messageId
          in: path
          required: true
          description: Unique identifier of the message to delete
          schema:
            type: string
            format: uuid
            example: 69a37c7d-af4f-4b5e-af42-e28e98ce873a
      responses:
        '204':
          description: Message deleted successfully (no content returned)
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/messages/{messageId}/update:
    post:
      operationId: updateIMessageAppCard
      summary: Update an iMessage app card in place
      description: |
        Replaces a previously delivered `imessage_app` card on the recipient's screen with new
        content, instead of posting a new bubble (like a game move redrawing the board).

        The update is delivered as a **new message** with its own id and delivery lifecycle
        (`message.sent` / `message.delivered` / `message.failed` webhooks fire for the new id).
        To update the card again, reference the message id returned by this call.

        Constraints:
        - The referenced message must be an `imessage_app` card sent by you (`400` otherwise —
          inbound cards cannot be updated).
        - The referenced card must already be delivered (`409` otherwise — retry after the
          `message.delivered` webhook for it).
        - The app identity (`team_id`, `bundle_id`, name) is inherited from the original card and
          cannot change; only `url`, `fallback_text`, and `layout` are replaced.
        - iMessage-only, like all app cards.
        - Concurrent updates against the same card are not serialized server-side; the last one
          delivered wins on the recipient's screen. Serialize updates by always referencing the
          message id returned by the previous call.
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: messageId
          in: path
          required: true
          description: Id of the app-card message to update (the original card, or the most recent update of it)
          schema:
            type: string
            format: uuid
            example: 69a37c7d-af4f-4b5e-af42-e28e98ce873a
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIMessageAppCardRequest'
            examples:
              scoreUpdate:
                summary: Redraw a score card
                value:
                  url: https://app.example.com/card?game=7f3a&move=2
                  fallback_text: Score update
                  layout:
                    caption: 'Score: 2 – 1'
      responses:
        '202':
          description: Update accepted — returns the new message version delivering the update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/messages/{messageId}/reactions:
    post:
      operationId: sendReaction
      summary: Add or remove a reaction to a message
      description: |
        Add or remove emoji reactions to messages. Reactions let users express
        their response to a message without sending a new message.

        **Supported Reactions:**
        - love ❤️
        - like 👍
        - dislike 👎
        - laugh 😂
        - emphasize ‼️
        - question ❓
        - custom - any emoji (use `custom_emoji` field to specify)
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: messageId
          in: path
          required: true
          description: Unique identifier of the message to react to
          schema:
            type: string
            format: uuid
            example: 69a37c7d-af4f-4b5e-af42-e28e98ce873a
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendReactionRequest'
            examples:
              addLove:
                summary: Add a love reaction
                value:
                  operation: add
                  type: love
              removeLike:
                summary: Remove a like reaction
                value:
                  operation: remove
                  type: like
              reactToMessagePart:
                summary: React to a specific message part
                value:
                  operation: add
                  type: laugh
                  part_index: 1
              customEmoji:
                summary: Add a custom emoji reaction
                value:
                  operation: add
                  type: custom
                  custom_emoji: 😍
      responses:
        '202':
          description: Reaction queued successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: accepted
                  trace_id:
                    type: string
                  message:
                    type: string
                    example: Reaction processed
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/attachments:
    post:
      operationId: requestUpload
      summary: Pre-upload a file
      description: |
        **This endpoint is optional.** You can send media by simply providing a URL in your
        message's media part — no pre-upload required. Use this endpoint only when you want
        to upload a file ahead of time for reuse or latency optimization.

        Returns a presigned upload URL and a permanent `attachment_id` you can reference
        in future messages.

        ## Step 1: Request an upload URL

        Call this endpoint with file metadata:

        ```json
        POST /v3/attachments
        {
          "filename": "photo.jpg",
          "content_type": "image/jpeg",
          "size_bytes": 1024000
        }
        ```

        The response includes an `upload_url` (valid for 15 minutes) and a permanent `attachment_id`.

        ## Step 2: Upload the file

        Make a PUT request to the `upload_url` with the raw file bytes as the request body.
        You **must** include all headers from `required_headers` exactly as returned — the presigned URL
        is signed with these values and S3 will reject the upload if they don't match.

        The request body is the binary file content — **not** JSON, **not** multipart form data.
        The file must equal `size_bytes` bytes (the value you declared in step 1).

        ```bash
        curl -X PUT "<upload_url from step 1>" \
          -H "Content-Type: image/jpeg" \
          -H "Content-Length: 1024000" \
          --data-binary @photo.jpg
        ```

        ## Step 3: Send a message with the attachment

        Reference the `attachment_id` in a media part. The ID never expires — use it in as many messages as you want.

        ```json
        POST /v3/chats
        {
          "from": "+15559876543",
          "to": ["+15551234567"],
          "message": {
            "parts": [
              { "type": "media", "attachment_id": "<attachment_id from step 1>" }
            ]
          }
        }
        ```

        ## When to use this instead of a URL in the media part

        - Sending the same file to multiple recipients (avoids re-downloading each time)
        - Large files where you want to separate upload from message send
        - Latency-sensitive sends where the file should already be stored

        If you just need to send a file once, skip all of this and pass a `url` directly in the media part instead.

        **File Size Limit:** 100MB

        **Unsupported Types:** WebP, SVG, FLAC, OGG, and executable files are explicitly rejected.
      tags:
        - Attachments
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestUploadRequest'
            examples:
              imageUpload:
                summary: Request upload for an image
                value:
                  filename: photo.jpg
                  content_type: image/jpeg
                  size_bytes: 1024000
              videoUpload:
                summary: Request upload for a video
                value:
                  filename: video.mp4
                  content_type: video/mp4
                  size_bytes: 50000000
      responses:
        '200':
[...]
